<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="LogLevel" value="DEBUG" />
    <!--No tocar-->
    <add key="Temporizador" value="10" />
    <add key="SERVER" value="NDB@10.10.70.134:30013" />
    <add key="BD_USER" value="SAPINST" />
    <add key="BD_PASS" value="x64GQ$9541" />
    <add key="BD_NAME" value="SBO_TPE_DESARROLLO" />
    <add key="SAP_USER" value="manager" />
    <add key="SAP_PASS" value="m1r1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>